.grid {
	display: grid;
	grid-template-columns: 15% auto;
	gap: 0.325rem;
}

.grid > * {
	border-radius: 0.25rem;
}

.logo {
	display: flex;
	justify-content: center;
}

.logo img {
	height: 6rem;
}

aside {
	grid-row: 2/5;
	background-image: url(./img/dragon_side.png);
}

.logo,
aside {
	border: 2px solid black;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

header,
nav,
main,
footer {
	background-image: url(./img/background.jpg);
	background-size: cover;
}

h1,
a {
	color: white;
}
